* {
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links > * {
  padding-left: 30px;
  text-decoration: none;
}

.book-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.book-desc div > * {
  text-decoration: none;
  margin-right: 30px;
}

button {
  background-color: blue;
  padding: 5px 20px;
  font-size: 16px;
  color: white
}