* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(247, 245, 245, 0.74);
}

.nav {
  background-color: white;
  padding: 20px 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(116, 116, 116, 0.377);
}

.nav h1 {
  color: rgb(62, 62, 245);
}

.nav-links > * {
  padding-left: 30px;
  text-decoration: none;
}

.nav-links > :nth-child(1) {
  color: black
}

.nav-links > :nth-child(2) {
  color: #7c7c7c;
}

.book-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(116, 116, 116, 0.377);
  padding: 15px 40px 10px 40px;
  background-color: white;
  margin: 25px 0;
}

.book-desc div > * {
  text-decoration: none;
  margin-right: 30px;
}

button {
  background-color: rgb(62, 62, 245);
  padding: 5px 20px;
  font-size: 16px;
  color: white;
}

ul {
  padding: 0;
  margin: 50px;
  border-bottom: 1px solid rgba(116, 116, 116, 0.377);
}

ul li {
  list-style: none;
}

.book-button-container {
  margin: 20px 0;
}

.book-button {
  cursor: pointer;
  background-color: white;
  color: rgb(62, 62, 245);
  border: none;
  font-size: 14px;
  padding: 0 15px 0 0;
}

.book-button-container > :nth-child(1),
.book-button-container > :nth-child(2) {
  border-right: solid rgba(116, 116, 116, 0.377);
  margin-right: 15px;
}

.book-description h3 {
  font-size: 14px;
  color: #7c7c7c;
}

.book-description h2 {
  font-size: 22px;
}

.book-description p {
  font-size: 14px;
  color: rgb(62, 62, 245);
}

.summary-header {
  margin-bottom: 15px;
}

.summary {
  border-left: 1px solid rgba(116, 116, 116, 0.377);
  padding: 0 10px 0 75px; 
}